<h1 class='mt-5'>Editando tweet</h1>
<%= render "form", tweet: @tweet %>
<br>
<div class='d-flex justify-content-end'>
  <%= link_to "Ver tweet", @tweet, class:"btn btn-primary me-2" %>
  <%= link_to "Volver al inicio", tweets_path,class:"btn btn-primary" %>
</div>
