<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa-brands fa-x-twitter fa-xl" style="color: #ffffff;"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-3">
        <% if current_page?(controller: 'tweets', action: 'index') %>
          <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link active' %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link ver' %></li>
        <% end %>
        <li class="nav-item">
          <%= link_to 'tweets new', new_tweet_path, class: 'nav-link' %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
